body {
  color: #333;
}

main {
  margin-top: 10px;
}

.add-to-cart {
  color: #b00207;
  border-color: #760109;
  margin-top: 10px;
}

.add-to-cart:hover {
  color: #e80211;
  border-color: #b00207;
}

.add-to-cart:visited {
  color: #b00207;
  border-color: #760109;
}

.nav-col {
  height: 50px;
}

.catalog-image {
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
  height: 300px;
  background-size: 100% 100%;
}

.catalog-name {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: #333;
}

.catalog-rating-price {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: white;
  background-color: #000;
}

.button {
  border-color: #888;
  color: #aaa;
}

.button:hover {
  border-color: #eee;
  color: #fff;
}

.cart {
}

.cart-title, .cart-quantity, .cart-price {
  padding-left: 5px;
}

.cart-title, .cart-info {
  height: 49px;
  line-height: 49px;
}

.remove-from-cart {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.remove-from-cart:hover {
  background-color: #eee;
}

.cart-camera-container {
  border: 1px solid #bbb;
  border-radius: 4px;
}

#navbar {
  background-color: #07222b;
  color: #fff5ed;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
}
