body {
  color: #333;
}

main {
  margin-top: 10px;
}

.add-to-cart {
  color: #b00207;
  border-color: #760109;
  margin-top: 10px;
}

.add-to-cart:hover {
  color: #e80211;
  border-color: #b00207;
}

.nav-col {
  height: 50px;
}

.catalog-image {
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 5px;
  height: 300px;
  background-size: 100% 100%;
}

.catalog-name {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-color: #333;
}

.catalog-rating-price {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: white;
  background-color: #000;
}

.button {
  border-color: #888;
  color: #aaa;
}

.button:hover {
  border-color: #eee;
  color: #fff;
}

#navbar {
  background-color: #07222b;
  color: #fff5ed;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  line-height: 50px;
}
